.praying-times {
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 300px;
    margin: auto;
    font-family: Rakkas;
    text-align: center;
    color: #eaa023;
}

.praying-name {
    font-family: cairo;
    color: #fff;
    margin-bottom: 25px;
}

.praying-time {
    font-size: 18px;
}

.remember-card {
    direction: rtl;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.azqar {
    width: 40%;
    height: 200px;
    border-radius: 10px;
    background-color: #536677;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 30px 5px rgba(0,0,0,.25);
    animation: rotate 1s infinite alternate;
}
@keyframes rotate{
    from {
        margin-top: 00px;
    }
    to {
        margin-top: 10px;
    }
}
.remember-name {
    font-family: Rakkas;
    margin-bottom: 10px;
    color: #eaa023;
}

.remember-text {
    font-family: cairo;
    margin-bottom: 20px;
}

.azqar .btn {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 20px;
}

.azqar .btn a {
    color: #fff;
}

/* responsive */
@media screen and (max-width: 768px) {
    .remember-card {
        flex-direction: column;
        height: 450px;
    }
    .azqar {
        width: 100%;
        animation: none;
    }
}
/* end of responsive */